@import "../../../styles.scss";
.ngx-pagination .current {
  background: $main-color !important;
  border-radius: 5px;
}
.ngx-pagination a {
  text-decoration: none !important;
}

.form-control:focus {
  border-color: $main-color;
  box-shadow: 0 0 0.5rem 0.15rem #0aad0a69;
}
