<section class="min-vh-100">
  @if(cart.length !== 0 ) {
  <div class="container my-5 rounded p-3 bg-secondary bg-opacity-25">
    <h3>Shop Cart</h3>
    @for(item of cart;track item._id) {
    <app-cart-item [item]="item" />
    <hr class="d-block d-md-none" />
    }
    <button
      [routerLink]="['/payment']"
      [queryParams]="{cartId}"
      class="main-btn mt-3"
    >
      online Payment <img src="/assets/images/visa.png" height="35" alt="" />
    </button>
  </div>

  }@else {
  <div class="container my-5 rounded p-3 bg-secondary bg-opacity-25">
    <div class="text-center w-25 mx-auto text-secondary fs-3 p-4">
      <i class="fa-solid fa-triangle-exclamation"></i> Cart is empty
    </div>
  </div>
  }
</section>
