@import "../../../styles.scss";
.footer-download-app {
  img {
    width: 90px;
  }
  @include tablet {
    img {
      //   width: 50px;
    }
  }
}

.icons {
  i {
    transition: all 0.3s ease-in-out;
  }
  i:hover {
    color: $main-color !important;
  }
}
