<footer class="container-fluid bg-main-light p-5">
  <div class="row">
    <div class="col-md-6">
      <h3>Get the FreshCart app</h3>
      <p class="text-muted">
        We will send you a link, open it on your phone to download the app
      </p>
    </div>

    <div class="col-md-6">
      <form>
        <div class="row gy-2 mx-auto">
          <div class="col-lg-7 ps-0 p-md-2">
            <input type="email" class="form-control" placeholder="Email..." />
          </div>
          <div class="col-lg-5 ps-0 p-md-2">
            <button class="main-btn">Share App Link</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr />
  <div class="px-4">
    <div
      class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center"
    >
      <div class="row w-50">
        <div class="col-lg-6">
          <span class="pe-3">Payment Partners</span>
        </div>
        <div class="col-lg-6">
          <img width="50" src="./assets/images/Amazon.svg" alt="amazon" />

          <img
            width="40"
            src="./assets/images/MasterCard.png"
            alt="mastercard"
          />

          <img width="50" src="./assets/images/paypal.png" alt="paypal" />
        </div>
      </div>
      <div
        class="mt-3 mt-md-0 footer-download-app row w-md-50 align-items-center"
      >
        <div class="col-lg-6">
          <span>Get delivers with FreshCart</span>
        </div>
        <div class="col-lg-6">
          <img src="./assets/images/app-store.png" />
          <img src="./assets/images/google-play.png" alt="google play" />
        </div>
      </div>
    </div>
  </div>
</footer>
