<section>
  <div class="row g-0">
    <div class="col-md-9">
      <owl-carousel-o [options]="mainSliderOptions">
        <ng-template carouselSlide>
          <img height="400" src="/assets/images/slider-image-1.jpeg" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" src="/assets/images/slider-image-2.jpeg" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" src="/assets/images/slider-image-3.jpeg" alt="" />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3">
      <img
        height="200"
        src="/assets/images/grocery-banner.png"
        alt=""
        class="w-100"
      />
      <img
        height="200"
        src="/assets/images/grocery-banner-2.jpeg"
        alt=""
        class="w-100"
      />
    </div>
  </div>
</section>

<section>
  <h3>Shop Categories</h3>
  <owl-carousel-o [options]="categoryOptions">
    @for(category of categories;track category._id) {

    <ng-container>
      <ng-template carouselSlide>
        <img
          height="270"
          [src]="category.image"
          [alt]="category.name"
          [title]="category.name"
        />
        <h3 class="text-main h6">{{ category.name }}</h3>
      </ng-template>
    </ng-container>
    }
  </owl-carousel-o>
</section>

<section>
  <h3>Our products</h3>

  <app-products></app-products>
</section>
