<section style="min-height: 30vh" class="container my-5">
  <div class="w-75 m-auto">
    <h1 class="py-3 text-main text-center fw-semibold">Update Password</h1>

    @if(step === 1) {

    <form [formGroup]="emailForm" (ngSubmit)="forgetPassword()">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        name="email"
        id="email"
        class="form-control"
      />
      @if( (emailForm.get('email')?.touched ||
      resetCodeForm.get('email')?.value.length >3) &&
      emailForm.get('email')?.errors) {
      @if(emailForm.get('email')?.getError('required')){

      <p class="text-danger m-0">Email Is Required</p>
      } @if(emailForm.get('email')?.getError('email')){
      <p class="text-danger m-0">You Should Enter A Valid Email</p>
      } }
      <button class="main-btn d-block ms-auto mt-3">
        @if(fetching) {

        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }@else {

        <i class="fas fa-check me-2"></i>
        } Verify
      </button>
    </form>

    }@else if(step === 2) {

    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
      <label for="resetCode">Reset Code</label>
      <input
        formControlName="resetCode"
        type="text"
        name="resetCode"
        id="resetCode"
        class="form-control"
      />
      @if((resetCodeForm.get('resetCode')?.touched) &&
      resetCodeForm.get('resetCode')?.errors) {
      @if(resetCodeForm.get('resetCode')?.getError('required')) {

      <p class="text-danger m-0">Code Is Required</p>
      } @if(resetCodeForm.get('resetCode')?.getError('pattern')) {

      <p class="text-danger m-0">Invalid Code</p>
      } }

      <button class="main-btn d-block ms-auto mt-3">
        @if(fetching) {

        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }Reset Code
      </button>
    </form>

    } @else if(step === 3) {

    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
      <div class="form-group mb-3">
        <label for="newPassword">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          name="newPassword"
          id="newPassword"
          class="form-control"
        />
        @if((resetPassword.get('newPassword')?.touched ||
        resetPassword.get('newPassword')?.value.length > 0) &&
        resetPassword.get('newPassword')?.errors) {
        @if(resetPassword.get('newPassword')?.getError('required')) {

        <p class="text-danger m-0">password Is Required</p>
        } @if(resetPassword.get('newPassword')?.getError('pattern')) {

        <p class="text-danger m-0">must be at least 6 chars</p>
        } }
      </div>
      <div class="form-group">
        <label for="newPassword">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="form-control"
        />
        @if((resetPassword.get('confirmPassword')?.touched ||
        resetPassword.get('confirmPassword')?.value.length > 0) &&
        resetPassword.get('confirmPassword')?.errors) {
        @if(resetPassword.get('confirmPassword')?.getError('required')) {

        <p class="text-danger m-0">Confirm password is required</p>
        } @if(resetPassword.get('confirmPassword')?.getError('mismatch')) {

        <p class="text-danger m-0">Password confirmation is Incorrect</p>
        } }
      </div>

      <button class="main-btn d-block ms-auto mt-3">
        @if(fetching) {

        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        } Reset Password
      </button>
    </form>

    }
  </div>
</section>
