<div class="product">
  <div style="width: 25px; height: 25px">
    @if (isFavLoading) {
    <div
      style="cursor: not-allowed"
      class="loadingio-spinner-heart-2by998twmg8"
    >
      <div class="ldio-yzaezf3dcmj">
        <div><div></div></div>
      </div>
    </div>
    }@else { @if(!wishListData.includes(product._id)) {
    <i
      style="cursor: pointer"
      class="far fa-heart fa-xl cursor-pointer"
      (click)="addToWishList(product._id)"
    ></i>

    } @else if(wishListData.includes(product._id)) {

    <i
      style="cursor: pointer"
      class="fas fa-heart fa-xl cursor-pointer text-danger"
      (click)="removeFav(product._id)"
    ></i>
    } }
  </div>
  <div class="mt-1" role="button" [routerLink]="['/product', product.id]">
    <img [src]="product.imageCover" class="w-100" alt="" />
    <div class="product-details">
      <h3 class="font-sm text-main">{{ product.category.name }}</h3>
      <h4 class="font-sm">{{ product.title | cuttext }}</h4>
      <div class="d-flex justify-content-between">
        <span>{{ product.price | currency : "EGP" }}</span>
        <span>
          <i class="fa-solid fa-star rating-color"></i>
          {{ product.ratingsAverage }}</span
        >
      </div>
    </div>
  </div>
  @if(!cartCount) {

  <button (click)="addToCart(product.id)" class="main-btn w-100">
    <span>
      @if(isLoading) {<i class="fa-solid fa-spinner fa-spin"></i> }@else {+}
    </span>
    Add To Cart
  </button>
  }@else {
  <div class="d-flex justify-content-end">
    <app-add-remove-cart [id]="product.id" [count]="cartCount" />
  </div>

  }
</div>
