@if(products.length > 0) {

<section class="container my-5">
  <div class="row g-4 mt-4">
    <div class="d-flex align-items-center justify-content-center mb-4">
      <div class="line me-3"></div>
      <h1 class="text-center fw-bold text-main">Wish List</h1>
      <div class="line ms-3"></div>
    </div>
    @for(product of products;track product.id) {
    <div class="col-sm-4 col-md-3">
      <!-- <div class="product p-2" [title]="product.title">
            <i
              *ngIf="!wishListData.includes(product._id)"
              class="far fa-heart fa-xl cursor-pointer"
              (click)="addToWishList(product._id)"
            ></i>
            <i
              *ngIf="wishListData.includes(product._id)"
              class="fas fa-heart fa-xl cursor-pointer text-danger"
              (click)="removeFav(product._id)"
            ></i>
            <div class="cursor-pointer" [routerLink]="['/details', product._id]">
              <img [src]="product.imageCover" class="w-100" [alt]="product.title" />
              <h3 class="h6 text-main">{{ product.category.name }}</h3>
              <h4 class="h6">
                {{ product.title | termText : 2 }}
                <span *ngIf="product.title.split(' ').length > 2">...</span>
              </h4>
              <div class="d-flex justify-content-between align-items-center">
                <span> {{ product.price | currency : "EGP" }} </span>
                <div>
                  <i class="fas fa-star rating-color"></i>
                  <span class="text-muted"> {{ product.ratingsAverage }} </span>
                </div>
              </div>
            </div>
            <button (click)="addCart(product._id)" class="btn-main w-100">
              + Add To Cart
            </button>
          </div>
           -->
      <app-product
        [product]="product"
        [wishListData]="wishListData"
      ></app-product>
    </div>
    }
  </div>
</section>
}@else {

<div class="text-center mt-5">
  <h2 class="fw-bold h1">Your Wish List is Empty</h2>
  <i class="fas fa-heart-broken text-danger fa-10x"></i>
</div>
}
