<nav
  class="navbar navbar-expand-md navbar-light bg-light fixed-top"
  [class.scrolled]="scrolled"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/freshcart-logo.svg" alt="" />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/home"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/categories"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/brands"
            >Brands</a
          >
        </li>
      </ul>
      <ul
        class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-start align-items-md-center"
      >
        <!-- <li class="nav-item" role="button">
          <i class="fab fa-facebook me-3 fs-5"></i>
          <i class="fab fa-linkedin me-3 fs-5"></i>
          <i class="fa-brands fa-instagram me-3 fs-5"></i>
        </li> -->

        <li routerLink="/cart" class="nav-item" role="button" title="Your Cart">
          <div class="position-relative m-3">
            <i
              routerLink="/cart"
              class="fa fs-4 fa-shopping-cart text-main"
            ></i>
            <span class="cartNum badge bg-main position-absolute">
              {{ cartCount }}
            </span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-gear"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/allorders">All Orders</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/updatePassword"
                >update password</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li (click)="signOut()" class="dropdown-item me-3" role="button">
              <span>
                <i class="fa-solid fa-right-from-bracket me-1"></i>
                Sign out
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
