@import "../../../styles.scss";
.cart-operations {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #b6d8b6;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 5px;
  color: #fff;

  .operation {
    position: relative !important;
    background-color: $main-color;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    border: none;
    color: inherit;
    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
  .operation:active {
    background-color: #2b8a2b;
  }
  .operation:disabled {
    background-color: #2b8a2b97;
    color: #e1e0e0cd;
    cursor: not-allowed;
  }
  .operation i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    @include mobile {
      font-size: 10px;
    }
  }
  .count {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: 20px;
      height: 20px;
      font-size: 15px;
    }
  }

  .count,
  .lds-circle {
    margin-left: 10px;
    margin-right: 10px;
    @include mobile {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}

.lds-circle,
.lds-circle div {
  box-sizing: border-box;
}
.lds-circle {
  //   display: inline-block;
  transform: translateZ(1px);
  display: flex;
  align-items: center;
}
.lds-circle > div {
  display: inline-block;
  width: 25px;
  height: 25px;
  @include mobile {
    width: 20px;
    height: 20px;
  }
  //   margin: 8px;
  background-color: #cff3d1;
  //   background: currentColor;
  border-radius: 50%;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
