/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
$main-color: #0aad0a;
$light-color: #f0f3f2;
$rating-color: #ffc908;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.14) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$main-transition: 0.8s;

body {
  font-family: $font-family;
  background-image: url("/assets/images/light-patten.svg");
  background-attachment: fixed;
}
.rating-color {
  color: $rating-color;
}
.main-btn {
  background-color: $main-color;
  color: #fff;
  padding: 5px 8px;
  border: unset;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background-color: #0aad0a69;
    color: #ffffff5b;
    cursor: not-allowed;
  }
}

.active-link {
  background-color: $main-color !important;
  color: #fff !important;
  border-radius: 5px;
}
.bg-main {
  background-color: $main-color;
}
.text-main {
  color: $main-color;
}
.bg-main-light {
  background-color: $light-color;
}
.font-sm {
  font-size: 12px;
}

.product {
  border: 1px solid $main-color;
  padding: 5px;
  border-radius: 5px;
}
.line {
  width: 100px;
  height: 4px;
  background-color: $main-color;
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1600px) {
    @content;
  }
}
